<% if !user_signed_in? %>
<% content_for :hero do %>
<section class ="hero is-medium is-dark home-hero has-text-centered">
  <div class ="hero-body">
    <div class ="container">
      <div class = "container">
        <h1 class="title">
          Weclome to <% Rails.configuration.application_name %>!
        </h1>
        <h2 class="subtitle">
          Host your own workouts and share your results together.
        </h2>
      </div>
    </div>
  </section>
  <% end %>

  <% else %>
    <% content_for :hero do %>
    <section class ="is-dark home-hero has-text-centered">
      <div class ="hero-body">
        <div class ="container">
          <div class = "container">
            <h1 class="title">
              Weclome <% current_user.name %>!
            </h1>
            <h2 class="subtitle">
              Access your workouts to take full advantage of the platform
            </h2>
          </div>
        </div>
        <div class="hero-foot">
          <nav class="tabs">
            <div class="container">
      </section>
